mixin button(button_title, button_link, button_class, target, button_type_but)
  if(button_type_but)
    button.button(class=button_class)
      span._wrap= button_title
  else
    if(target)
      a.button(class=button_class href=button_link target="_blank")
        span._wrap= button_title
    else
      a.button(class=button_class href=button_link)
        span._wrap= button_title
